@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.montserrat {
    font-family: 'montserrat', sans-serif;
}

/* Hide the scrollbar on the entire page */
body::-webkit-scrollbar {
  width: 0; /* Set a width for the scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Set the background of the track (invisible) */
}

body::-webkit-scrollbar-thumb {
  background: transparent; /* Set the color of the thumb (invisible) */
}

.mid-z {
  z-index: 1000 !important;
}

.high-z {
  z-index: 10000 !important;
}

.higher-z {
  z-index: 100000 !important;
}

.bg-blur {
  position: relative;
  background-image: linear-gradient(to right, #0000001c, #0000001c),
  url('./assets/blur.jpeg');
}

.bg-blur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(4px);
}

.unblur {
  filter: blur(0) !important;
}

.bg-img {
    background-image: linear-gradient(to right, #000000c8, #000000c8),
    url('../src/assets/IMG-20230904-WA0020.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }

.color-white {
  color: #fff !important;
}

  @keyframes moveUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-10rem);
    }
  }

  @keyframes scalingUp {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }


.moveUp {
  animation: moveUp 0.5s ease-in-out forwards;
}

.moveDown {
    animation: moveDown 0.5s ease-in-out forwards;
}

.moveLeft {
  animation: moveLeft 25s ease-in-out forwards infinite;
}

.scalingUp {
  animation: scalingUp 5s ease-in-out forwards infinite;
}


/* Slider css */

.slide {
  flex: 0 0 100vw;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.gradient {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

/* PlusSign.css */
.plus-sign {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300vw;
  height: 300vh;
  z-index: 1000;
  margin-top: -70%;
  margin-left: -130%;
  transition: all 2s;
  opacity: .5;
}

.horizontal-line,
.vertical-line {
  background-color: #fff;
  width: 2px; /* Adjust as needed for the thickness of the lines */
  height: 20px; /* Line extends to full height */
}

.horizontal-line {
  transform: rotate(90deg); /* Rotate to create a horizontal line */
  margin: 0 -1px; /* Adjust to make the lines connect seamlessly */
  width: 2px;
}

.line1 {
  width: 1px;
  height: 100%;
  margin-top: -.5px;
}
 
.line2 {
  height: 100%;
  width: 1px;
  margin-left: -.5px;
}
